body {
  background-color: gray;
  font-family: "Lora", serif;
  border: none;
}

.first {
  background: #e3e3e3;
  max-width: 600px;
  margin: 45px auto;
  border-radius: 16px grey ;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.first :hover{
  cursor: pointer;
}

.input-text {
  background-color: gray;
  color: #fff;
  line-height: 16px;
  border-radius: 6px;
  width: 60%;
  border: none;
  padding: 15px 20px;
}

.search-input {
  background-color: #fff;
  color: gray;
  line-height: 16px;
  border-radius: 6px;
  width: 15%;
  border: none;
  margin-left: 5px;
  padding: 15px 20px;
}

hr{
  margin-top: 30px;
}

.weather-forecast {
  display:flex;
  justify-content:space-evenly;
  font-family: "Lora", serif;
}
strong {
  color: #58727f;
}

.weather-icon {
  width: 10px;
  height: 10px;
  font-size: 35px;
}

.weather-temperature {
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
}

.weather-app-unit{
margin-top: 1px;
}
