body {
  background-color: gray;
  font-family: "Lora", serif;
}

.first{
  background: #e3e3e3;
  max-width: 600px;
  margin: 45px auto;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100,0.08);
  
}

.input-text {
    background-color: gray;
    color: #A9A6B3;
    line-height: 16px;
    border-radius: 6px;
    width: 60%;
    border: none;
    padding: 15px 20px;
}

.search-input{

}